.TermsAndConditionsWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.TermsAndConditions{
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 8px ;
}

.TermsAndConditions button{
    color: white;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(179, 179, 231), blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: 350ms;
    font-size: 1.1vw;
    width: 20%;
    height: 10%;
}

.TermsAndConditions button:hover{
    transform: scale(1.1);
}

.TermsAndConditions button:active{
    transform: scale(0.9);
}